@if (currentUser()?.coupon) {
  <div class="card m-0">
    <app-referral-info (updateReferrals)="updateReferrals()" [buttonPosition]="'top'" />
  </div>
}

<div class="content flex-row-fluid mt-5" id="kt_content">
  <div class="card card-flush">
    <div class="card-body pt-0 table-responsive">
      <app-skeleton [loading]="isLoading" [animated]="true" [rows]="3">
        <ng-template #template>
          <div class="p-5">
            <app-skeleton-item variant="text" class="w-75" />
            <app-skeleton-item variant="text" />
          </div>
        </ng-template>
        <ng-template #content>
          <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_ecommerce_products_table">
            <thead>
              <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                <th class="min-w-md-200px">Referee</th>
                <th class="text-start min-w-md-100px">Email</th>
                <th class="text-center min-w-md-100px">Mobile</th>
                <th class="text-center min-w-md-100px">Status</th>
                <th class="text-center min-w-md-70px">Code</th>
                <th class="text-center min-w-md-70px">Reward</th>
              </tr>
            </thead>
            <tbody class="fw-bold text-gray-600">
              @if (!referrals.length) {
                <tr>
                  <td class="text-center fs-6 text-muted" colspan="40">No data</td>
                </tr>
              } @else {
                @for (referral of referrals; track referral) {
                  <tr>
                    <td>
                      <span class="fw-bolder">{{ referral.name }}</span>
                    </td>
                    <td class="text-start pe-0">
                      <span class="fw-bolder">{{ referral.email }}</span>
                    </td>
                    <td class="text-center pe-0">
                      <span class="fw-bolder">{{ referral.mobile }}</span>
                    </td>
                    <td class="text-center pe-0">
                      <span class="fw-bolder badge" [class]="getStatusBadge(referral.status)">{{ referral.status_title }}</span>
                    </td>
                    <td class="text-center pe-0">
                      <span class="fw-bolder">{{ currentUser()?.coupon?.code }}</span>
                    </td>
                    <td class="text-center pe-0">
                      @if (referral.reward_available) {
                        <span class="fw-bolder">
                          <a
                            href="#"
                            class="btn btn-portal small align-self-center d-inline-flex flex-center"
                            (click)="uuid = referral.uuid; $event.preventDefault()"
                            data-bs-toggle="modal"
                            data-bs-target="#choose_reward_modal"
                          >
                            Choose Reward
                            <span class="svg-icon btn-icon svg-icon-2 svg-icon-light me-0 ms-1">
                              <app-inline-svg src="/media/icons/duotune/ecommerce/ecm007.svg" />
                            </span>
                          </a>
                        </span>
                      } @else if (referral.reward_status === REWARD_STATUS_PENDING) {
                        <span class="fw-bolder badge badge-light-warning">
                          Pending Reward
                        </span>
                      }
                      @else if (referral.reward_status === REWARD_STATUS_COMPLETE) {
                        <span class="fw-bolder badge badge-light-success">
                          {{ referral.reward }}
                        </span>
                      } @else {
                        <span class="fw-bolder badge badge-light"> Awaiting Joining </span>
                      }
                    </td>
                  </tr>
                }
              }
            </tbody>
          </table>
        </ng-template>
      </app-skeleton>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center justify-content-md-start pt-2 pt-md-10">
  @if (total) {
    <app-pagination
      (currentChange)="currentPageChange($event)"
      [pageCount]="lastPage"
      [pageSize]="perPage"
      [currentPage]="page"
      [total]="total"
      [hideOnSinglePage]="true"
      [pagerCount]="5"
      [background]="true"
    />
  }
</div>
<app-choose-reward-modal [uuid]="uuid" (chooseReward)="updatePage()" />
