<div
  class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed"
>
  <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
    <router-outlet />
  </div>

  <div class="d-flex flex-center flex-column-auto p-10">
    <div class="d-flex align-items-center fw-bold fs-6">
      <p class="text-muted text-center">©2022 All Rights Reserved - Parasol Loyalty Cards Services LLC</p>
    </div>
  </div>
</div>
