<div class="d-flex align-items-stretch flex-shrink-0">
  <div class="topbar d-flex align-items-stretch flex-shrink-0">
    <div class="d-flex align-items-center me-n3 ms-1 ms-lg-3" id="kt_header_user_menu_toggle">
      <div
        class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px"
        data-kt-menu-trigger="click"
        data-kt-menu-attach="parent"
        data-kt-menu-placement="bottom-end"
      >
        <img class="h-100 w-100 rounded" [src]="avatar()" alt="avatar" />
      </div>

      <app-user-menu />
    </div>
  </div>
</div>
